.nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    width: 20%;
    z-index: 3;
    height: 100vh;
    font-family: "Bebas Neue", sans-serif;
    font-size: clamp(0.66rem, 2vw, 1rem);
    letter-spacing: 0.5em;
    border: 1px solid red;

}

a {
    color: #fff;
    text-decoration: none;
  }
  